<div id="nome">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" [(ngModel)]="nome">
</div>
<div id="descricao">
    <label for="descricao">Descrição:</label>
    <input type="text" name="descricao" [(ngModel)]="descricao">
</div>
<div id="refeicao">
    <label for="refeicao">Refeicao:</label>
    <input type="text" name="refeicao" [(ngModel)]="refeicao">
</div>
<div id="horario">
    <label for="horario">Horario:</label>
    <input type="text" name="horario" [(ngModel)]="horario">
</div>
<div id="dieta">
    <label for="dieta">Dieta:</label>
    <select name="dietid" [(ngModel)]="dietid">
        <option *ngFor="let diet of diets" value="{{diet.id}}">
            {{diet.title}}
        </option>
    </select>
</div>

<button (click)="cadastrar()">Cadastrar</button>
<button routerLink="/">Voltar</button>